* {
	font-family: 'Josefin Sans', sans-serif;
}

.violet-container {
	background-color: #6734ff;
	/* position: relative; */
}

.white-container {
	background-color: whitesmoke;
	/* position: relative; */
}

.info-container {
	background-color: whitesmoke;
	padding: 5%;
	/* position: relative; */
	text-align: center;
}

.info-container h1 {
	color: #6734ff;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

.info-container h1:first-child {
	color: black;
	font-weight: bolder;
	text-align: left;
	margin-left: 25%;
}
img {
	position: absolute;
	top: 40px;
	width: 130%;
	height: 80%;
	left: 15px;
	border: 15px solid #6734ff;
	border-radius: 100%;
	background-color: white;
	z-index: 2;
	padding: 15px;
}

.personal-container {
	line-height: 5rem;
	text-align: LEFT;
	padding: 0 20% 2% 30%;
	/* position: relative; */
}

.title-container {
	/* position: relative; */
	padding: 0;
	text-align: right;
	height: auto;
	width: auto;
}

.title-container p {
	position: absolute;
	border-radius: 60px;
	width: 244px;
	height: 48px;
	background-color: #6734ff;
	transform-origin: bottom;
	transform: rotate(270deg);
	text-align: center;
	color: white;
	margin-top: 101px;
	padding-top: 14px;
}

.personal-container p {
	/* position: absolute; */
	color: white;
}

.education-container {
	position: relative;
	padding: 0;
	text-align: left;
}

.education-container p {
	position: absolute;
	margin-top: 111px;
	padding-top: 16px;
	margin-left: 30%;
	border-radius: 60px;
	width: 140px;
	height: 52px;
	background-color: white;
	transform-origin: bottom;
	transform: rotate(270deg);
	text-align: center;
	color: #6734ff;
}

.education-information-container {
	/* line-height: 5rem; */
	text-align: left;
	padding: 5% 20% 2% 30%;
}
